@import "./Utility";

/**** GENERAL STYLES ***/
html{
  font-size:16px;
}
figure{
  padding:0.4rem;
  margin:0px;
}
figure > img{
  max-height:100%;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: $textColor1;
}

body *{
  box-sizing: border-box;
}
#root{
  width: 100vw;
    height: 100vh;
    overflow:auto;
    overflow-x:hidden;
    overflow-y:scroll;
  
}

main{
  height:calc(100vh - 8rem);
  background:$color2;
}

main > div{
  box-sizing: border-box;
}

div p.MuiFormHelperText-root{
  color:#ff0000;
}
label.MuiFormLabel-root.Mui-focused{
  color:$textColor2;
}


div.MuiOutlinedInput-root.Mui-focused fieldset.MuiOutlinedInput-notchedOutline{
  border-color: $textColor2;
}

