/*********************************/
/* VARIABLES */

$textColor1: #444; 
$textColor2: #61dafb; 
$color1: #363636;
$color2: #fefffd;
//$color2: #fcfff7;
$color3: #e3e4de;
$color4: #f9fbf6;
$paddingViews: 2rem 1.5rem;


